.loading {
  position: relative;

  &:after {
    width: 16px;
    height: 16px;
    border: solid 1px #fff;
    border-top-color: transparent !important;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -8px;
    //margin-left: -10px;
    content: '';
    border-radius: 50%;
    @include animation(fa-spin 0.7s linear infinite);
  }

  &.loading-primary:after {
    border-color:  #24A9E2;
  }

  &.loading-right:after {
    left: auto;
    right: 10px;
  }

  &.loading-center:after {
    left: 50%;
    right: auto;
    margin-left: -8px;
  }
}

.btn.loading {
  padding-left: 35px !important;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.64);
  z-index: 30000;
}

.beh-loading {
  position: relative;

  &:after {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease;
    z-index: 280;
  }

  .beh-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 281;

    svg {
      animation: beh-spinner-rotation 1.4s linear infinite;
      stroke: #24A9E2;
      vertical-align: middle;

      .circle {
        stroke-dasharray: 187;
        stroke-dashoffset: 0;
        transform-origin: center;
        animation: beh-spinner-turn 1.4s ease-in-out infinite;
      }
    }
  }

  &-active {
    &:after {
      visibility: visible;
      opacity: 1;
    }

    > .beh-spinner {
      display: block;
    }
  }

  &-sm > .beh-spinner svg {
    width: 20px !important;
    height: 20px !important;
  }

  &.variant-white {
    &:after {
      background: rgba(0, 0, 0, 0.4);
    }

    .beh-spinner svg .circle {
      stroke: white;
    }
  }

  &.variant-gray {
    //&:after{  background: rgba(0, 0, 0, 0.4);  }
    .beh-spinner svg .circle {
      stroke: #e5e5e5;
    }
  }
}

@keyframes beh-spinner-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

@keyframes beh-spinner-turn {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}